body{
	
	background-color: whitesmoke; /*default background colour*/
	color: black;  /*default word colour*/

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: normal; /*include a value:100*/

	line-height: 1.4em;
}

.mainHeader{
	background-color:lightgray;
	border: 10px lightgray solid;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	font-size: 30px;
	font-family: serif;
	height: 125px;
	width: 100%;
	font-weight: bolder;
}

.intro_1{
	padding-left: 10%;
	padding-right: 10%;
	font-size: 30px;
}
	

.intro_2{
	padding-left: 10%;
	padding-right: 10%;
	font-size: 20px;
}

.chloroplethmap{
	margin-top: 16px;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	font-size: 15px;
}


.subheader1, .subheader2, .subheader3{
	background-color:lightsteelblue;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 30px;
	font-family: serif;
}


.bar_and_line{
	margin-top: 16px;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	font-size: 15px;
}

.description2{
	font-size: 10px;
	padding-left: 10%;
	padding-right: 10%;
	line-height: 1.2em;
}

.scatterplot_zoom{
	left: 50px;
	right: 50px;
	height: 1000px;
	width: 800px; 
}

