body{
	
	background-color: whitesmoke; /*default background colour*/
	color: black;  /*default word colour*/

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: normal; /*include a value:100*/

	line-height: 1.4em;
}

.mainHeader{
	background-color:lightgray;
	border: 10px lightgray solid;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	font-size: 30px;
	font-family: serif;
	height: 125px;
	font-weight: bolder;
}

.intro_1{
	padding-left: 7%;
	padding-right: 7%;
	font-size: 30px;
}
	

.intro_2{
	padding-left: 7%;
	padding-right: 7%;
	font-size: 20px;
}

.first-map{
	margin-top: 16px;
	width: 100%;
	display: flex;
	justify-content: center;
	 font-size: 10px;
}

#choropleth_map {
	left: 100px;
	right: 100px;
	height: 200px;
	width: 100px;
}

.subheader1{
	background-color:lightsteelblue;
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 30px;
	font-family: serif;

}




#horizontalBarChart_slopechart {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}



#scatterplot_zoom{
	left: 50px;
	right: 50px;
	height: 1000px;
	width: 800px; 
}

